<table class="table table-hover">
  <thead class="w-100">
    <tr>
      <th class="text-center">SrNo</th>
      <th>Name</th>
      <th class="toShow" colspan="2">Other Stats</th>
    </tr>
  </thead>
  <tbody>
    <% yearFour.forEach((users) => { %>
    <tr class="row-click" data-href="/dashboard/<%= users.login %>">
      <td class="text-center">
        <%= counter[3] %>
      </td>
      <td>
        <%= users.login %>
      </td>
      <td class="toShow">Followers:
        <%= users.followers %>
      </td>
      <td class="toShow">Following:
        <%= users.following %>
      </td>
    </tr>
    <% counter[3]++ %>
    <% }) %>
  </tbody>
</table>