<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link rel="stylesheet" href="stylesheets/css/dashboard.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

  <title>gawds LeaderBoard-Dashboard</title>
</head>

<body>
  <nav class="navbar topnav navbar-expand-sm fixed-top navbar-light px-lg-5">
    <div class="container">
      <a class="navbar-brand" href="https://www.gawds.in">gawds</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarTogglerDemo02"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto mr-3 mt-2 mt-lg-0">
          <li class="nav-item mr-3 active">
            <a class="nav-link actLink" href="#">DASHBOARD<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item mr-3">
            <a class="nav-link" href="/members">MEMBERS</a>
          </li>
          <li class="nav-item mr-3">
            <a class="nav-link" href="/logout">LOG OUT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="jumbotron">
    <div class="container-fluid master">
      <div class="row username">
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <div class="container-fluid rounded-circle d-flex justify-content-center align-items-center" style="background: url('<%= Link %>');">
          </div>
        </div>
        <div class="col-md-8 name">
          <h1 class="text-center text-truncate">Hello
            <%= Name %>
          </h1>
          <div class="row current container justify-content-end">
            <div class="col-5">
              <%= Year %>
            </div>
          </div>
          <div class="container-fluid row justify-content-start">
            <div class="col-lg-10 mt-2 text-justify">
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In et consequat neque. Quisque fringilla, leo
              quis vehicula aliquet, diam nibh tempus sem, eu bibendum lectus mi a magna. Sed nunc elit, suscipit nec
              semper a, venenatis ut sem."
              <%= Bio %>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid  org">
        <div class="container-fluid mb-4 d-flex justify-content-center align-items-center">
          <h3>CONTACT</h3>
        </div>
        <div class="row container d-flex justify-content-center align-items-center">
          <div class="col text-center"><i class="fa fa-facebook fa-3x"></i></div>
          <div class="col text-center"><i class="fa fa-google fa-3x"></i></div>
          <div class="col text-center">
            <a href="https://github.com/<%= Name %>"><i class="fa fa-github fa-3x"></i></a></div>
          <div class="col text-center"><i class="fa fa-instagram fa-3x"></i></div>
          <div class="col text-center"><i class="fa fa-envelope fa-3x"></i></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid py-3 graphDisplay d-flex justify-content-center align-items-center">
    <div class="container">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
            aria-controls="nav-home" aria-selected="true">Overview</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
            aria-controls="nav-profile" aria-selected="false">My Year</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
            aria-controls="nav-contact" aria-selected="false">All activity</a>
        </div>
      </nav>
      <div class="tab-content d-flex justify-content-center align-items-center" id="nav-tabContent">
        <div class="tab-pane fade show active text-center" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <div class="row">
            <div class="col-md-7 d-flex justify-content-center align-items-center">
              <%include ./partials/TileGraph %>
            </div>
            <div class="col-md-4 d-flex justify-content-center align-items-center">
              Graph 2
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <% include ./partials/plotmonth %>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
          <% include ./partials/plotweek %>
        </div>
      </div>

    </div>
  </div>

  <nav class="navbar navbar-expand footer navbar-light bg-faded">
    <div class="container">
      <span>&copy All rights Reversed.<a class="navbar-brand" href="https://www.gawds.in">GAWDS.IN</a></span>
      <ul class="navbar-nav ml-auto mr-3 mt-2 mt-lg-0 text-truncate">
        <li class="nav-item mr-3">
          <a class="nav-link" href="#"><i class="fa fa-facebook fa-2x"></i></a>
        </li>
        <li class="nav-item mr-3">
          <a class="nav-link" href="#"><i class="fa fa-twitter fa-2x"></i></a>
        </li>
        <li class="nav-item mr-3">
          <a class="nav-link" href="#"><i class="fa fa-instagram fa-2x"></i></a>
        </li>
        <li class="nav-item mr-3">
          <a class="nav-link" href="#"><i class="fa fa-google-plus fa-2x"></i></a>
        </li>
        <li class="nav-item mr-3">
          <a class="nav-link" href="#"><i class="fa fa-envelope fa-2x"></i></a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>